.home{
  min-height:100vh;
}

.hero{
  padding:100px 10%;
  text-align:center;
  background:linear-gradient(135deg,#0f172a,#1e293b);
}

.hero h1{
  font-size:4rem;
  margin-bottom:20px;
}

.hero p{
  max-width:700px;
  margin:auto;
  color:#94a3b8;
  line-height:1.6;
}

.hero-buttons{
  margin-top:30px;
  display:flex;
  gap:20px;
  justify-content:center;
}

.primary-btn,.secondary-btn{
  padding:14px 30px;
  border-radius:10px;
}

.primary-btn{
  background:#6c63ff;
  color:white;
}

.secondary-btn{
  border:1px solid #6c63ff;
}

.features{
  padding:80px 10%;
}

.feature-grid{
  margin-top:30px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
}

.card{
  background:#1e293b;
  padding:30px;
  border-radius:15px;
  text-align:center;
}

.page-container{
  padding:80px 10%;
}

.pricing-grid{
  display:flex;
  gap:30px;
  margin-top:30px;
}

.price-card{
  flex:1;
  background:#1e293b;
  padding:30px;
  border-radius:15px;
}

.premium{
  border:2px solid #6c63ff;
}

.contact-form{
  display:flex;
  flex-direction:column;
  gap:20px;
  max-width:500px;
  margin-top:30px;
}

.contact-form input,
.contact-form textarea{
  padding:15px;
  border-radius:10px;
  border:none;
}

.contact-form button{
  background:#6c63ff;
  padding:15px;
  color:white;
  border-radius:10px;
}